body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
 }
 
 header {
   background-color: #f0f0f0;
   padding: 20px;
   text-align: center;
 }
 
 nav {
   background-color: #ddd;
   padding: 10px;
 }
 
 nav ul {
   list-style: none;
   display: flex;
   justify-content: space-around;
 }
 
 main {
   display: flex;
   justify-content: space-around;
   padding: 20px;
 }
 
 .content-left, .content-right {
   width: 40%;
 }
 
 footer {
   background-color: #f0f0f0;
   text-align: center;
   padding: 10px;
 }